#main {
  width: 100vw;
  height: 100vh;
  background-color: red;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  background-color: aquamarine;
}

#form {
  display: flex;
  height: 50%;
  width: 70%;
  font-weight: 700;
  border-radius: 3vh 3vh 3vh 3vh;
  margin-left: 15%;
  font-size: 100%;
  justify-content: center;
  align-items: center;
}

#options {
  display: flex;
  width: 20%;
  height: 25%;
  border-radius: 2vh 2vh 2vh 2vh;
  margin-left: 1%;
  font-size: 80%;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 240, 243);
}

#form-button {
  display: flex;
  width: 5%;
  height: 25%;
  border-radius: 2vh 2vh 2vh 2vh;
  font-size: 80%;
  margin-left: 1%;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 240, 243);
}

#choose-ships {
  display: flex;
  width: 70%;
  height: 50%;
  font-weight: 700;
  border-radius: 3vh 3vh 3vh 3vh;
  margin-left: 15%;
  font-size: 100%;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 108, 19);
}

#boards {
  display: flex;
  width: 80%;
  height: 70%;
  margin-top: 2.5%;
  margin-left: 10%;
  border-radius: 2vh 2vh 2vh 2vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
